
 

.site-header__nav--link {
  position: relative;
}

.site-header__nav--link::before {
  position: absolute;
  top: 120%;
  margin: auto;
  content: "";
  width: 0;
  height: 3px;
  background-color: #1AAB7B;
  transition: width 0.5s ease;
}

.site-header__nav--link:hover::before {
  width: 100%;
}



body{
    font-family: "PlusJakarta Sans", sans-serif;
    font-weight: 500;
}

.contanier{
    width: 100%;
    max-width: 1246px;
    margin: 0 auto;
    padding: 0 15px;
}

ul,
ol{
    margin: 0;
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

/* HEADER START */
.site-header{
    padding: 24px 0;
}

.site-header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__wrapper--start{
    display: flex;
    align-items: center;
    gap: 50px;
}

.site-header__logo:hover{
    opacity: 0.8;
}

.site-header__logo:active{
    opacity: 0.6;
}

.site-header__nav--list{
    display: flex;
    gap: 30px;
}

.site-header__nav--link{
    font-size: 16px;
    line-height: 150%;
    color: #101010;
}

.site-header__nav--link:hover{
    color: #1AAB7B;
}

.site-header__nav--link:active{
    opacity: 0.6;
}

.site-header__btn{
    padding: 12px 24px;
    background-color: #101010;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #101010;
    border-radius: 6px;
}

.site-header__btn:hover{
    background-color: transparent;
    color: #1AAB7B;
    border: 1px solid #1AAB7B;
}

.site-header__btn:active{
    background-color: #101010;
    color: #fff;
    border: 1px solid #101010;
    opacity: 0.6;
}


/* MEDIA START */
/* @media only screen and (max-width: 1050px) {
    .site-header__wrapper{
        flex-direction: column;
    }
} */

@media only screen and (max-width: 767px){
    .site-header__wrapper{
        flex-direction: column;
    }
    .site-header__wrapper--start{
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 546px){
    .site-header__wrapper--start{
        flex-direction: column;
        gap: 10px;
    }

    .site-header__nav--list{
        flex-wrap: wrap;
        row-gap: 10px;
    }
}
/* MEDIA END */
/* HEADER END ------------------------------------------------------------ */

/* HERO START */
.hero{
    padding: 91px 0 156px;
}

.hero-wrapper{
    display: flex;
    justify-content: space-between;
}

.hero-content{
    width: 100%;
    max-width: 550px;
}

.hero-title{
    margin: 0 0 20px;
    font-size: 56px;
    font-weight: 700;
    line-height: 140%;
    color: #101010;
}

.hero-desc{
    margin: 0 0 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: #636F87;
}

.hero-btn{
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    color: #FFF;
    padding: 20px 40px;
    border: 1px solid #1AAB7B;
    border-radius: 6px;
    background: #1AAB7B;
}

.hero-btn:hover{
    background-color: transparent;
    color: #1AAB7B;
}

.hero-btn:active{
    opacity: 0.6;
    background-color: #1AAB7B;
    color: #fff;
}

/* MEDIA START */
@media only screen and (max-width: 1050px){
    .hero-wrapper{
        flex-direction: column;
    }

    .hero-btn{
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 767px){
    .hero{
        padding-top: 64px;
    }

    .hero-title{
        font-size: 52px;
    }

    .hero-desc{
        font-size: 16px;
    }

    .hero-img{
    width: 100%;
    height: 100%;
    }
}


@media only screen and (max-width: 546px){
    .hero{
        padding-top: 52px;
    }
    
    .hero-title{
        font-size: 46px;
    }

    .hero-desc{
        font-size: 14px;
    }

    .hero-btn{
        padding: 16px 32px;
    }
}
/* MEDIA END */
/* HERO END ------------------------------------------------------------ */


